@tailwind base;
@tailwind components;
@tailwind utilities;

/* We can add our Neumorphic utility classes in here later! */

/* Add to your global CSS file */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}